.spinner-container .gpt-fly {
  width: 100px;
  font-size: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.transparent {
    background: transparent !important;
}

#querybuilder .query-results-images-column img{
	max-height: 110px;
}

#querybuilder .query-results-images-column img:hover{
	max-height: 300px;
}