@import "./colors.less";

@-webkit-keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

#mainContainer {
    background-image: linear-gradient(#111, #444);
}

#geppettologo {
	top: 3px;
    left: 10px;
    height: 26px;
    font-size: 25px;
    display: block;
    text-align: center;
}

.flexChildContainer {
    padding: 8px;
}

.new-widget {
    z-index: 1;
}

.containerForTabs {
    top: 35px;
    height: 100%;
    width: 100%;
    position: absolute;
}

.htmlViewerVFB {
	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	transition: opacity 1s ease-out;
	background-color: @background_color_widget;
	background: @background_color_widget;
	color: white;
	opacity: 0.9;
	z-index: 999999;
	overflow-y: scroll;
	box-shadow:0 0 0 1600px rgba(0,0,0,0.65);
}

.closeHTMLViewer {
	float: right;
	height: 5px;
	font-size: 26px;
	color: @primary_color;
	margin-left: 5px;
	cursor: pointer;
}

#HTMLViewerContainer {
	padding: 20px;
}

.spinner-container .gpt-fly {
	width: 100px;
	font-size: 100px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.transparent {
	background: transparent !important;
}

#querybuilder .query-results-images-column img{
	max-height: 110px;
}

#querybuilder .query-results-images-column img:hover{
	max-height: 300px;
}

.tutorialMessage{
	height : 100% !important;
}

.gpt-query:before {
	margin-top: 3px;
}

.gpt-shapehide:before {
	margin-top: 3px;
}

.gpt-shapeshow:before {
	margin-top: 5px;
}

.ui-widget {
	font-family: arial, sans-serif;
	font-size:13px;
}

@media screen and (max-width: 1200px) {
	.uk-visible-large {
	display: none !important;
	}
}

@media screen and (max-width: 1000px) {
	.wideDivC {
		display: none !important;
	}
}

@media screen and (max-width: 680px) {
	.uk-navbar-content {
		display: none !important;
	}
}

/* FlexLayout css */
 /*
.flexlayout__layout {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow:hidden;
}
 .flexlayout__splitter {
    background-color: #ddd;
}
 .flexlayout__splitter:hover {
    background-color: #ccc;
}
 .flexlayout__splitter_drag {
    border-radius: 5px;
    background-color: #bbb;
    z-index: 1000;
}
 .flexlayout__outline_rect {
    position: absolute;
    cursor: move;
    border: 2px solid red;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, .2);
    border-radius: 5px;
    z-index: 1000;
    box-sizing: border-box;
}
 .flexlayout__outline_rect_edge {
    cursor: move;
    border: 2px solid green;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, .2);
    border-radius: 5px;
    z-index: 1000;
    box-sizing: border-box;
}
 .flexlayout__edge_rect {
    position: absolute;
    z-index: 1000;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    background-color: lightgray;
}
 .flexlayout__drag_rect {
    position: absolute;
    cursor: move;
    border: 2px solid #aaaaaa;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, .3);
    border-radius: 5px;
    z-index: 1000;
    box-sizing: border-box;
    background-color:#eeeeee;
    opacity: 0.9;
    text-align: center;
     display: flex;
    justify-content: center;
    flex-direction: column;
    overflow:hidden;
    padding:10px;
    word-wrap: break-word;
}
 .flexlayout__tabset {
    overflow: hidden;
    background-color: white;
    box-sizing: border-box;
}
 .flexlayout__tab {
    overflow: auto;
    position:absolute;
    box-sizing: border-box;
    background-color: white;
}
 .flexlayout__tab_button {
    cursor: pointer;
    padding: 2px 8px 3px 8px;
    margin: 2px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    float: left;
    vertical-align: top;
    box-sizing: border-box;
}
 .flexlayout__tab_button--selected {
    color: black;
    background-color: #ddd;
}
 .flexlayout__tab_button--unselected {
    color: gray;
}
 .flexlayout__tab_button_leading {
    float: left;
    display:inline-block;
}
 .flexlayout__tab_button_content {
    float: left;
    display:inline-block;
}
 .flexlayout__tab_button_textbox {
    float: left;
    border: none;
    color:green;
    background-color:#ddd;
}
.flexlayout__tab_button_textbox:focus {
    outline: none;
}
 .flexlayout__tab_button_trailing {
    float: left;
    display:inline-block;
    margin-left:5px;
    margin-top:3px;
    width:8px;
    height:8px;
 }
 .flexlayout__tab_button:hover .flexlayout__tab_button_trailing,
.flexlayout__tab_button--selected .flexlayout__tab_button_trailing{
    background: transparent url("./images/close.png") no-repeat center;
}
 .flexlayout__tab_button_overflow {
    float: left;
    width: 20px;
    height:15px;
    margin-top:2px;
    padding-left:12px;
    border:none;
    font-size: 10px;
    font-family: Arial, sans-serif;
    background: transparent url("./images/more.png") no-repeat left;
}
 .flexlayout__tabset_header
{
    position: absolute;
    left: 0;
    right: 0;
    background-color: #e8e8e8;
    padding:3px 3px 3px 5px;
    box-shadow: inset 0 0 3px 0 rgba(136, 136, 136, 0.54);
    box-sizing: border-box;
}
 .flexlayout__tab_header_outer {
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
}
 .flexlayout__tab_header_inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10000px;
}
 .flexlayout__tabset-selected
{
    background-image: linear-gradient(#fff, #ccc);
}
 .flexlayout__tabset-maximized
{
    background-image: linear-gradient(#aaa, #eee);
}
 .flexlayout__tab_toolbar {
    position:absolute;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    top:0;
    bottom:0;
    right:0;
}
 .flexlayout__tab_toolbar_button-min {
    width:20px;
    height:20px;
    border:none;
    outline-width: 0;
    background: transparent url("./images/maximize.png") no-repeat center;
 }
.flexlayout__tab_toolbar_button-max {
    width:20px;
    height:20px;
    border:none;
    outline-width: 0;
    background: transparent url("./images/restore.png") no-repeat center;
}
 .flexlayout__popup_menu {
 }
 .flexlayout__popup_menu_item {
    padding: 2px 10px 2px 10px;
}
 .flexlayout__popup_menu_item:hover {
    background-color: lightgray;
}
 .flexlayout__popup_menu_container {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
    border: 1px solid lightgrey;
    background: white;
    border-radius:3px;
    position:absolute;
    z-index:1000;
}
 .flexlayout__border_top {
    background-color:#eeeeee;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    overflow:hidden;
}
 .flexlayout__border_bottom {
    background-color:#eeeeee;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    overflow:hidden;
}
.flexlayout__border_left {
    background-color:#eeeeee;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    overflow:hidden;
}
 .flexlayout__border_right {
    background-color:#eeeeee;
    border-left: 1px solid #ddd;
    box-sizing: border-box;
    overflow:hidden;
}
 .flexlayout__border_inner_bottom{
    display: flex;
}
 .flexlayout__border_inner_left {
    position:absolute;
    white-space: nowrap;
    right: 23px;
    transform-origin:  top right;
    transform: rotate(-90deg);
}
 .flexlayout__border_inner_right {
    position:absolute;
    white-space: nowrap;
    left: 23px;
    transform-origin:  top left;
    transform: rotate(90deg);
}
 .flexlayout__border_button {
    display:inline-block;
    cursor: pointer;
    padding: 2px 8px 3px 8px;
    margin: 2px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
    border-radius: 3px;
    vertical-align: top;
    box-sizing: border-box;
    white-space:nowrap;
}
 .flexlayout__border_button--selected {
    color: black;
    background-color: #ddd;
}
 .flexlayout__border_button--unselected {
    color: gray;
}
 .flexlayout__border_button_leading {
    float: left;
    display:inline;
}
 .flexlayout__border_button_content {
    display:inline-block;
}
 .flexlayout__border_button_textbox {
    float: left;
    border: none;
    color:green;
    background-color:#ddd;
}
.flexlayout__border_button_textbox:focus {
    outline: none;
}
 .flexlayout__border_button_trailing {
    display:inline-block;
    margin-left:5px;
    margin-top:3px;
    width:8px;
    height:8px;
}
 .flexlayout__border_button:hover .flexlayout__border_button_trailing,
.flexlayout__border_button--selected .flexlayout__border_button_trailing{
    background: transparent url("./images/close.png") no-repeat center;
}
 .flexlayout__border_toolbar_left {
    position:absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    bottom:0;
    left:0;
    right:0;
}
 .flexlayout__border_toolbar_right {
    position:absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    bottom:0;
    left:0;
    right:0;
}
 .flexlayout__border_toolbar_top {
    position:absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top:0;
    bottom:0;
    right:0;
}
 .flexlayout__border_toolbar_bottom {
    position:absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top:0;
    bottom:0;
    right:0;
}
 */

.flexlayout__layout {
    left: 0;
    top: 35px;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow:hidden;
}

.flexlayout__splitter {
    background-color: linear-gradient(#111, #444);
}

.flexlayout__splitter:hover {
    background-color: #428bca;
}

.customIconFlexLayout {
    color: rgb(114,114,114);
    padding-right: 1em;
}

.customIconFlexLayout:hover {
    cursor: pointer;
    color: #085a78
}

.customIconTab {
    color: rgb(114,114,114);
    height: 5px;
    width: 5px;
    padding-right: 15px;
    float: left;
}

.customIconTab:hover {
    cursor: pointer;
    color: #085a78
}

.flexlayout__splitter_drag {
    border-radius: 2px;
    background-color: #444;
    z-index: 1000;
}

.flexlayout__outline_rect {
    position: absolute;
    cursor: move;
    border: 2px solid #cfe8ff;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, .2);
    border-radius: 5px;
    z-index: 1000;
    box-sizing: border-box;
}

.flexlayout__outline_rect_edge {
    cursor: move;
    border: 2px solid #b7d1b5;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, .2);
    border-radius: 5px;
    z-index: 1000;
    box-sizing: border-box;
}

.flexlayout__edge_rect {
    position: absolute;
    z-index: 1000;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    background-color: lightgray;
}

.flexlayout__drag_rect {
    position: absolute;
    cursor: move;
    border: 2px solid #aaaaaa;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, .3);
    border-radius: 5px;
    z-index: 1000;
    box-sizing: border-box;
    background-color:#eeeeee;
    opacity: 0.9;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow:hidden;
    padding:10px;
    word-wrap: break-word;
}

.flexlayout__tabset {
    overflow: hidden;
    background-color: #1a1a1a;
    box-sizing: border-box;
}

.flexlayout__tab {
    overflow: auto;
    position:absolute;
    box-sizing: border-box;
    background-color: #1a1a1a;
    color:white;
}

.flexlayout__tab_button {
    cursor: pointer;
    padding: 2px 8px 3px 8px;
    margin: 2px;
    /*box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .15);*/
    /*border-top-left-radius: 3px;*/
    /*border-top-right-radius: 3px;*/
    float:left;
    vertical-align: top;
    box-sizing: border-box;
}

.flexlayout__tab_button--selected {
    color: #ddd;
    background-color: #1a1a1a;
}

.flexlayout__tab_button--unselected {
    color: gray;
}

.flexlayout__tab_button_leading {
    float: left;
    display:inline-block;
}

.flexlayout__tab_button_content {
    float: left;
    display:inline-block;
}

.flexlayout__tab_button_textbox {
    float: left;
    border: none;
    color:lightgreen;
    background-color:#1a1a1a;
}
.flexlayout__tab_button_textbox:focus {
    outline: none;
}

.flexlayout__tab_button_trailing {
    float: left;
    display:inline-block;
    margin-left:5px;
    margin-top:3px;
    width:8px;
    height:8px;
}

.flexlayout__tab_button:hover .flexlayout__tab_button_trailing,
.flexlayout__tab_button--selected .flexlayout__tab_button_trailing{
    background: transparent url("./images/close_white.png") no-repeat center;
}

.flexlayout__tab_button_overflow {
    float: left;
    width: 20px;
    height:15px;
    margin-top:2px;
    padding-left:12px;
    border:none;
    font-size: 10px;
    color:lightgray;
    font-family: Arial, sans-serif;
    background: transparent url("./images/more.png") no-repeat left;
}

.flexlayout__tabset_header
{
    position: absolute;
    left: 0;
    right: 0;
    color:#eee;
    background-color: #212121;
    padding:3px 3px 3px 5px;
    /*box-shadow: inset 0px 0px 3px 0px rgba(136, 136, 136, 0.54);*/
    box-sizing: border-box;
}

.flexlayout__tab_header_inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10000px;
}

.flexlayout__tab_header_outer {
    background: #50504f;
    //background: linear-gradient(90deg, rgba(80,80,79,1) 35%, rgba(163,165,166,1) 100%);
    position: absolute;
    left: 0;
    right: 0;
    /*top: 0px;*/
    /*height: 100px;*/
    overflow: hidden;
}

.flexlayout__tabset-selected
{
    //background-image: linear-gradient(#0d96c7, #034c66);
    background-image: linear-gradient(#cff2ff, #cff2ff);
}

.flexlayout__tabset-maximized
{
    //background-image: linear-gradient(#0d96c7, #034c66);
    background-image: linear-gradient(#cff2ff, #cff2ff);
}

.flexlayout__tab_toolbar {
    position:absolute;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    top:0;
    bottom:0;
    right:0;
}

.flexlayout__tab_toolbar_button-min {
    margin-right: 3px;
    color: rgb(114,114,114);
    width:20px;
    height:20px;
    border:none;
    outline-width: 0;
    background: transparent;
}

.flexlayout__tab_toolbar_button-min:before {
    content: "\F2D0";
    font-family: FontAwesome;
}

.flexlayout__tab_toolbar_button-min:hover {
    color: #085a78
}

.flexlayout__tab_toolbar_button-max {
    width:20px;
    height:20px;
    border:none;
    outline-width: 0;
    background: transparent url("./images/restore.png") no-repeat center;
}

.flexlayout__popup_menu {
}

.flexlayout__popup_menu_item {
    padding: 2px 10px 2px 10px;
    color:#ddd;
}

.flexlayout__popup_menu_item:hover {
    background-color: #444444;
}

.flexlayout__popup_menu_container {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
    border: 1px solid #555;
    background: #1a1a1a;
    border-radius:3px;
    position:absolute;
    z-index:1000;
}

.flexlayout__border_top {
    //background-image: linear-gradient(90deg, #0d96c7, #034c66);
    background-color: #cff2ff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    overflow:hidden;
}

.flexlayout__border_bottom {
    //background-image: linear-gradient(90deg, #0d96c7, #034c66);
    background-color: #cff2ff;
    border-top: 1px solid #333;
    box-sizing: border-box;
    overflow:hidden;
}

.flexlayout__border_left {
    //background-image: linear-gradient(90deg, #0d96c7, #034c66);
    background-color: #cff2ff;
    border-right: 1px solid #333;
    box-sizing: border-box;
    overflow:hidden;
}

.flexlayout__border_right {
    //background-image: linear-gradient(90deg, #0d96c7, #034c66);
    background-color: #cff2ff;
    border-left: 1px solid #333;
    box-sizing: border-box;
    overflow:hidden;
}

.flexlayout__border_inner_bottom{
    display: flex;
}

.flexlayout__border_inner_left {
    position:absolute;
    white-space: nowrap;
    right: 23px;
    transform-origin:  top right;
    transform: rotate(-90deg);
}

.flexlayout__border_inner_right {
    position:absolute;
    white-space: nowrap;
    left: 23px;
    transform-origin:  top left;
    transform: rotate(90deg);
}

.flexlayout__border_button {
    background-color: #1a1a1a;
    color:white;
    display:inline-block;
    white-space:nowrap;
    cursor: pointer;
    padding: 2px 8px 3px 8px;
    margin: 2px;
    vertical-align: top;
    box-sizing: border-box;
}

.flexlayout__border_button--selected {
    color: #ddd;
    background-color: #1a1a1a;
}

.flexlayout__border_button--unselected {
    color: gray;
}

.flexlayout__border_button_leading {
    float: left;
    display:inline;
}

.flexlayout__border_button_content {
    display:inline-block;
}

.flexlayout__border_button_textbox {
    float: left;
    border: none;
    color:green;
    background-color:#ddd;
}

.flexlayout__border_button_textbox:focus {
    outline: none;
}

.flexlayout__border_button_trailing {
    display:inline-block;
    margin-left:5px;
    margin-top:3px;
    width:8px;
    height:8px;
}

.flexlayout__border_button:hover .flexlayout__border_button_trailing,
.flexlayout__border_button--selected .flexlayout__border_button_trailing{
    background: transparent url("./images/close_white.png") no-repeat center;
}

.flexlayout__border_toolbar_left {
    position:absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    bottom:0;
    left:0;
    right:0;
}

.flexlayout__border_toolbar_right {
    position:absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    bottom:0;
    left:0;
    right:0;
}

.flexlayout__border_toolbar_top {
    position:absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top:0;
    bottom:0;
    right:0;
}

.flexlayout__border_toolbar_bottom {
    position:absolute;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    top:0;
    bottom:0;
    right:0;
}
