@import "./colors.less";

#vfbterminfowidget {
  overflow: scroll;
  margin-top: 20px;
}

#bar-div-vfbterminfowidget {
    margin-top: -8px;
    position: fixed;
    height: 30px;
    background-color: #010101;
    float: left;
    text-align: center;
}

.ui-widget-content a {
    color: @primary_color;
    font-family: arial, sans-serif;
}

.ui-dialog span {
    margin-left: -4px;
}

.popup-icon-link span{
	margin-left : -2px;
	color : white;
}

.container {
    // position: fixed;
    // top: 0px;
    // bottom: 0px;
    // left: 0px;
    // right: 0px;
    height: 100vh;
    width: 100vw; // overflow: scroll;
    .topbox {
        background: #c8e0ec;
    }
    .table {
        position: relative;
        width: 100%;
        height: 100%;
        .header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: stretch;
            width: 100%;
            border-bottom: 1px solid #d3d3d3;
            .shadow {
                position: absolute;
                top: 31px;
            }
            .hcol {
                display: flex;
                background-color: #e5e8eb;
                border-color: #DFDFDF;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                color: #1F384D;
                box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
                width: 100%;
            }
        }
        .header.fixed {
            background: #e5e8eb;
            z-index: 99;
            position: fixed;
            top: 0px;
            .shadow {
                height: 3px;
                width: 100%;
                background: 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAF0lEQVR4AWPUkNeSBhHCjJoK2twgFisAFagCCp3pJlAAAAAASUVORK5CYII=) repeat-x;
            }
        }
        ul {
            list-style: none;
            margin: 0px;
            position: absolute;
            top: 32px;
            width: 100%;
            li {
                width: 100%;
                border-bottom: 1px solid #DFDFDF;
                .heading {
                    display: flex;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: stretch;
                    width: 100%;
                    height: 43px;
                    cursor: pointer;
                    transition: background 0.5s;
                    .col {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 43px;
                        border-right: 1px solid #DFDFDF;
                    }
                }
                .content {
                    width: 100%;
                    height: 0px;
                    opacity: 0;
                    transition: height 1s;
                }
            }
            li.open {
                .heading {
                    background: #4d98bc;
                    color: #ffffff;
                    .col {
                        border: none;
                    }
                }
                .content {
                    height: 100%; // height: auto;
                    opacity: 1;
                }
            }
        }
    }
}

.Collapsible {
    background-color: transparent;
}

.Collapsible__contentInner {
    padding: 6px 2px 2px 2px;
    border-top: 0;
    font-size: 14px;
    font-weight: 400;
    color: white;
    font-family: 'Barlow';
}

.Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

.Collapsible__contentInner p:last-child {
    margin-bottom: 0;
}

.Collapsible__contentInner a {
    color: white;
}

.Collapsible__trigger {
    display: block;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 16px;
    color: #11bffe;
    position: relative;
    padding: 2px;
    background: transparent;
    cursor: pointer;
    font-family: 'Barlow Condensed', 'Khand', sans-serif;
    pointer-events: none !important;
}

.Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f139';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
    pointer-events: auto !important;
}

.Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
    color: #8A7F7F;
}

.Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey;
}

.CustomTriggerCSS {
    background-color: lightcoral;
    transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
    background-color: darkslateblue;
}

.Collapsible__custom-sibling {
    padding: 5px;
    font-size: 12px;
    background-color: #CBB700;
    color: black;
}

.slider_image_container{
	text-align : center;
}

.slick-track [aria-hidden="true"] {
    visibility : hidden !important;
}

.slick-track [aria-hidden="false"] {
    visibility : visible !important;
}


 /* VFB SPECIFIC CUSTOMISATIONS */

  /* type labels */
.label.types>.label{
  color:white;
  background-color: grey;
  font-size: 10px!important;
  margin-left: 1px;
  margin-right:1px;
  float:right;
}

  /* link label positioning */
.label.types{
  margin-right:30px;
  float:right;
  padding-top: 0em;
  padding-bottom: 0em;
}

 /* icon customisations: */

 .terminfo-licenseicon {
	float: right;
    padding-right: 35px;
    max-height: 40px;
    max-width: 100px;
}

 .terminfo-siteicon {
    float: right;
    padding-right: 35px;
    max-height: 40px;
    max-width: 165px;
 }

.terminfo-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

 /* title modifications: */

 .terminfo-comment-title {
	text-transform: none;
  font-weight: 600;
  font-size: 14px;
  color: #11bffe;
  padding: 2px;
  background: transparent;
}

  /* specific label colours: */

.label.types>.label.label-Adult {
    background-color: #ffffb3 !important;
    color: #3a3939;
}

.label.types>.label.label-Anatomy {
    background-color: #33a02c !important;
    color: #3a3939;
}

/* Target all lineage labels */
.label.types>.label[class*="label-lineage_"] {
    background-color: #33a02c !important;
    color: #3a3939;
}

.label.types>.label.label-Cholinergic {
    background-color: #bebada !important;
    color: #3a3939;
}

.label.types>.label.label-Clone {
    background-color: #cab2d6 !important;
    color: #3a3939;
}

.label.types>.label.label-Cluster {
    background-color: #ffed6f !important;
    color: #3a3939;
}

.label.types>.label.label-Dopaminergic {
    background-color: #fdbf6f !important;
    color: #3a3939;
}

.label.types>.label.label-Expression_pattern {
    background-color: #b3de69 !important;
    color: #3a3939;
}

.label.types>.label.label-Expression_pattern_fragment {
    background-color: #6a3d9a !important;
}

.label.types>.label.label-GABAergic {
    background-color: #1f78b4 !important;
}

.label.types>.label.label-Ganglion {
    background-color: #ff7f00 !important;
    color: #3a3939;
}

.label.types>.label.label-Glutamatergic {
    background-color: #b2df8a !important;
    color: #3a3939;
}

.label.types>.label.label-Larva {
    background-color: #ccebc5 !important;
    color: #3a3939;
}

.label.types>.label.label-Motor_neuron {
    background-color: #e31a1c !important;
}

.label.types>.label.label-Muscle {
    background-color: #a6cee3 !important;
    color: #3a3939;
}

.label.types>.label.label-Nervous_system {
    background-color: #fdb462 !important;
    color: #3a3939;
}

.label.types>.label.label-Neuromere {
    background-color: #8dd3c7 !important;
    color: #3a3939;
}

.label.types>.label.label-Neuron {
    background-color: #b15928 !important;
}

.label.types>.label.label-Neuron_projection_bundle {
    background-color: #bc80bd !important;
    color: #3a3939;
}

.label.types>.label.label-Octopaminergic {
    background-color: #ffff99 !important;
    color: #3a3939;
}

.label.types>.label.label-Peptidergic_neuron {
    background-color: #80b1d3 !important;
    color: #3a3939;
}

.label.types>.label.label-Sensory_neuron {
    background-color: #fb9a99 !important;
    color: #3a3939;
}

.label.types>.label.label-Serotonergic {
    background-color: #d9d9d9 !important;
    color: #3a3939;
}

.label.types>.label.label-Synaptic_neuropil_block {
    background-color: #fccde5 !important;
    color: #3a3939;
}

.label.types>.label.label-Synaptic_neuropil_domain {
    background-color: #fb8072 !important;
    color: #3a3939;
}

.label.types>.label.label-Synaptic_neuropil_subdomain {
    background-color: #88ffb3 !important;
    color: #3a3939;
}

 .label.types>.label.label-Template {
    background-color: #ff6cc8 !important;
    color: #3a3939;
}

 .label.types>.label.label-DataSet {
    background-color:#b700b5 !important;
}

 .label.types>.label.label-Synaptic_neuropil {
    background-color:#00a2aa !important;
    color: #3a3939;
}

 .label.types>.label.label-pub {
    background-color:#0164d8 !important;
}

 .label.types>.label.label-License {
    background-color:#0164d8 !important;
}

 .label.types>.label.label-Person {
    background-color:#023f00 !important;
}

 .label.types>.label.label-Glial_cell {
    background-color:#ff6a3a !important;
    color: #3a3939;
}

 .label.types>.label.label-Cell {
    background-color:#fbcf1d !important;
    color: #3a3939;
}

 .label.types>.label.label-Property {
    background-color:#005f1d !important;
}

 .label.types>.label.label-Resource {
    background-color:#005f1d !important;
}

 .label.types>.label.label-Site {
    background-color:#005f1d !important;
}

.label.types>.label.label-Split {
    background-color:#e012e3 !important;
    color: #3a3939;
}

.label.types>.label.label-Deprecated {
    background-color:#ff0000 !important;
    color: #3a3939;
}

.label.types>.label.label-Gene {
    background-color:#ffcdd2 !important;
    color: #3a3939;
}

.label.types>.label.label-Allele {
    background-color: #DCEDC8 !important;
    color: black;
}
.label.types>.label.label-FBst {
    background-color: #E1BEE7;
    color: black;
}
.label.types>.label.label-Insertion {
    background-color: #D1C4E9 !important;
    color: black;
}
.label.types>.label.label-FB_Reference {
    background-color: #dcf !important;
    color: black;
}
.label.types>.label.label-FBcl {
    background-color: #BBDEFB;
    color: black;
}
.label.types>.label.label-FBtr {
    background-color: #C5CAE9;
    color: black;
}
.label.types>.label.label-FBpp {
    background-color: #B3E5FC;
    color: black;
}
.label.types>.label.label-FBab {
    background-color: #B2EBF2;
    color: black;
}
.label.types>.label.label-FBba {
    background-color: #B2DFDB;
    color: black;
}
.label.types>.label.label-FBte {
    background-color: #C8E6C9;
    color: black;
}
.label.types>.label.label-FBto {
    background-color: #fb0;
    color: black;
}
.label.types>.label.label-Transgenic_Construct {
    background-color: #F8BBD0 !important;
    color: black;
}
.label.types>.label.label-FBmc {
    background-color: #F0F4C3;
    color: black;
}
.label.types>.label.label-FBms {
    background-color: #FFF9C4;
    color: black;
}
.label.types>.label.label-FBsf {
    background-color: #FFECB3;
    color: black;
}
.label.types>.label.label-FBlc {
    background-color: #FFE0B2;
    color: black;
}
.label.types>.label.label-FBtc {
    background-color: #FFCCBC;
    color: black;
}
.label.types>.label.label-FBig {
    background-color: #D7CCC8;
    color: black;
}
.label.types>.label.label-FBgg {
    background-color: #F5F5D5;
    color: black;
}
.label.types>.label.label-FBhh {
    background-color: #edb;
    color: black;
}
.label.types>.label.label-FBsn {
    background-color: #fdc;
    color: black;
}
.label.types>.label.label-FB_Image {
    background-color: #fe8 !important;
    color: black;
}
.label.types>.label.label-Thermosensory_system {
    background-color: #AA0000 !important;
    color: white;
}
.label.types>.label.label-Neuroblast {
    background-color: #8df8f9 !important;
    color: black;
}
.label.types>.label.label-GMC {
    background-color: #ecf7f7 !important;
    color: black;
}
.label.types>.label.label-Mechanosensory_system {
    background-color: #00aaaa !important;
    color: black;
}
.label.types>.label.label-Visual_system {
    background-color: #0000aa !important;
    color: white;
}
.label.types>.label.label-Olfactory_system {
    background-color: #00aa00 !important;
    color: black;
}
.label.types>.label.label-Auditory_system {
    background-color: #aa00aa !important;
    color: white;
}
.label.types>.label.label-Gustatory__system {
    background-color: #aaaa00 !important;
    color: black;
}
.label.types>.label.label-Proprioceptive_system {
    background-color: #00aaaa !important;
    color: black;
}
.label.types>.label.label-Chemosensory_system {
    background-color: #ea9e24 !important;
    color: black;
}
.label.types>.label.label-Hygrosensory_system {
    background-color: #0000ff !important;
    color: white;
}
.label.types>.label.label-Nociceptive_system {
    background-color: #ffa500 !important;
    color: black;
}
.label.types>.label.label-Stage {
    background-color: #dfe !important;
    color: black;
}

.label.types>.label.label-Acetylcholine_receptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Calcium_binding {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Dopamine_receptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Enzyme {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-GABA_receptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Glutamate_receptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-GPCR {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Gustatory_receptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Histamine_receptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Hormone {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Ion_channel {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Mechanosensory_ion_channel {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Neuropeptide {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Octopamine_receptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Odorant_binding {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Olfactory_receptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Peptide_or_protein_hormone_receptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Photoreceptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Serotonin_receptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Thermosensory_ion_channel {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Transcription_factor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-Tyramine_receptor {
    background-color: #11bffe !important;
    color: black;
}

.label.types>.label.label-UPLOAD {
    background-color: #ff4902 !important;
    color: black;
}



.button-bar-vfbHistoryLinks-back {
    position:absolute;
    left:10px;
    top:6px;
    color: #10bffe;
    text-decoration:none;
    cursor: pointer;
    z-index: 2;
    background: #010101;
}

.button-bar-vfbHistoryLinks-forward {
    position:absolute;
    right:10px;
    top:6px;
    color: #10bffe;
    text-decoration:none;
    cursor: pointer;
    z-index: 2;
    background: #010101;
}

.buttonBarComponentDiv{ 
    z-index: 4;
    background: #010101;
    height: 30px;
}

#bar-div-vfbterminfowidget {
    background-color: transparent !important;
    z-index: 1;
}

.bar-div-vfbterminfowidget_long-and-truncated {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
}

#bar-div-vfbterminfowidget-back-name {
    position: absolute;
    top: 3px;
    left: 24px;
    color: #10bffe;
    text-decoration:none;
    cursor: pointer;
    z-index: 2;
    background: #010101;
    text-align: left;
}

#bar-div-vfbterminfowidget-forward-name {
    position: absolute;
    top: 3px;
    right: 24px;
    color: #10bffe;
    text-decoration:none;
    cursor: pointer;
    z-index: 2;
    background: #010101;
    text-align: right;
}

.button-bar-vfbHistoryLinks-forward i {
    top: 0px;
    right: 0px;
    position: absolute;
}

.buttonBar-button {
	height: 25px;
	width: 33px;
	margin: 0px;
	background: none !important;
	color: white;
	font-size: 16px !important;
	border: 0 !important;
}

.buttonBar-button:hover {
	color: #11bffe;
}

.popup-icon-link {
    color: #ffe406 !important;
    font-size: 15px;
    margin-right: 2px;
    margin-left: 2px;
}

.Collapsible__contentInner li{
    clear: both;
}

// POPUP component style

.popup {
	font-size: 14px;
	font-weight: 200;
	color: white;
	overflow: auto !important;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.popup-link{
	color: @primary_color;
}

.popup-link:hover {
	color: @secondary_color;
	text-decoration: none;
}
.popup a {
	color: @primary_color;
}

.popup p {
	color: @primary_color;
}

.popup a:hover {
	color: @secondary_color;
	text-decoration: none;
}

.popup-image {
	margin: 0 auto;
	text-align: center;
	color: white;
	clear: both;
	max-width: 100%;
    max-height: 260px;
    margin-left: 25px;
}

.popup-image img{
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
    &:hover {
        border: 1px solid gray;
        filter: brightness(130%);
        -webkit-filter: brightness(130%);
        -moz-filter: brightness(130%);
        -o-filter: brightness(130%);
        -ms-filter: brightness(130%);
        -webkit-transition: all 0.50s;
        transition: all 0.50s;
    }
}

.invert {
	-webkit-filter: invert(22%);
	filter: invert(22%);
}

.popup-slick-image {
	margin: 0 auto;
	text-align: center;
	color: white;
}

.popup-icon {
	color: #7F98FF;
	margin-left: 5px;
	margin-right: 5px;
}

.popup-icon-link {
	color: #9bafff;
	font-size: 15px;
	margin-right: 2px;
	margin-left: 2px;
}

.popup-icon-link:hover {
	color: #8098f9;
}

.popup-slick {
	clear: both;
	margin-top: 40px;
}

.popup-title {
	font-weight: 600;
	color: @primary_color;
	cursor: pointer;
	clear: both;
	float: left;
	text-transform: capitalize;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.popup-title:hover {
	color: @secondary_color;
}

.popup-chevron {
	margin-left: 10px;
	margin-top: 7px;
	float: right;
	color: #8A7F7F;
	cursor: pointer;
}

.popup-html {
	clear: both;
}

.popup-text {
	font-size: 14px;
	font-weight: 200;
	text-align: justify;
	color: white;
	clear: both;
}


// Slick styling

/* Slider */
.slick-slider
{
    position: relative;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    max-height: 30vh;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

// Slick theme

/* Slider */
.slick-loading .slick-list {
    background: #fff url('./images/ajax-loader.gif') center center no-repeat;
}

.slick-next {
    right: 6px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-arrow:hover {
    color: @secondary_color;
}

.slick-arrow {
    color: @primary_color;
    z-index: 2;
    cursor: pointer;
}

/* Arrows */
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    content: '\f137';
}

[dir='rtl'] .slick-prev:before {
    content: '\f138';
}

.slick-next:before {
    content: '\f138';
}

[dir='rtl'] .slick-next:before {
    content: '\f137';
}

/* Dots */
.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    color: @secondary_color;
}

.slick-dots li button:before {
    font-family: 'FontAwesome';
    font-size: 6px;
    line-height: 14px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '\f111';
    text-align: center;

    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: @primary_color;
    z-index: 2;
}

.fa-check-circle {
    color: yellow !important;
}

.termInfoSlider0 img {
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
    &:hover {
        border: 1px solid gray;
        filter: brightness(130%);
        -webkit-filter: brightness(130%);
        -moz-filter: brightness(130%);
        -o-filter: brightness(130%);
        -ms-filter: brightness(130%);
        -webkit-transition: all 0.50s;
        transition: all 0.50s;
    }
}

details > summary > i.fa-chevron-circle-right {
    display: inline-block;
}

details > summary > i.fa-chevron-circle-down {
    display: none;
}

details[open] > summary > i.fa-chevron-circle-down {
    display: inline-block;
}

details[open] > summary > i.fa-chevron-circle-right {
    display: none;
}

/* Make label tags look clickable and add hover effect */
.label.types > .label[class*="label-"] {
  cursor: pointer;
  transition: opacity 0.2s;
  
  &:hover {
    opacity: 0.8;
  }
}
