# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: '*'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Deploy the local and remote versions of geppetto-vfb
  deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      # Decide based on branch which servers to use
      - name: Pass branch
        id: branch
        run: echo "::set-output name=value::${GITHUB_REF##*/}";
      - name: Setup local servers
        id: local-servers
        shell: bash
        run: if [ "${GITHUB_REF##*/}" == master ] ; then
            echo "::debug::Set to master setup";
            echo "::set-output name=VFB_PDB_SERVER::http://pdb:7474";
            echo "::set-output name=VFB_OWL_SERVER::http://owl:8080/kbs/vfb/";
            echo "::set-output name=VFB_R_SERVER::http://ocpu:80/ocpu/library/vfbr/R/vfb_nblast";
            echo "::set-output name=VFB_TREE_PDB_SERVER::https://pdb.virtualflybrain.org";
            echo "::set-output name=SOLR_SERVER::https://solr.virtualflybrain.org/solr/ontology/select";
            echo "::set-output name=BUILD_TYPE::release";
          elif [ "${GITHUB_REF##*/}" == debug ] || [ "${GITHUB_REF##*/}" == pipeline2 ] || [ "${GITHUB_REF##*/}" == vfb_geppetto_application ] || [ "${GITHUB_REF##*/}" == development ] ; then
            echo "::debug::Set to dev setup";
            echo "::set-output name=VFB_PDB_SERVER::http://pdb:7474";
            echo "::set-output name=VFB_OWL_SERVER::http://owl:8080/kbs/vfb/";
            echo "::set-output name=VFB_R_SERVER::http://ocpu:80/ocpu/library/vfbr/R/vfb_nblast";
            echo "::set-output name=VFB_TREE_PDB_SERVER::https://pdb-dev.virtualflybrain.org";
            echo "::set-output name=SOLR_SERVER::https://solr-dev.virtualflybrain.org/solr/ontology/select";
            echo "::set-output name=BUILD_TYPE::development";
          elif [ "${GITHUB_REF##*/}" == alpha ] ; then
            echo "::debug::Set to alpha setup";
            echo "::set-output name=VFB_PDB_SERVER::http://pdb:7474";
            echo "::set-output name=VFB_OWL_SERVER::http://owl:8080/kbs/vfb/";
            echo "::set-output name=VFB_R_SERVER::http://ocpu:80/ocpu/library/vfbr/R/vfb_nblast";
            echo "::set-output name=VFB_TREE_PDB_SERVER::https://pdb-alpha.virtualflybrain.org";
            echo "::set-output name=SOLR_SERVER::https://solr-alpha.virtualflybrain.org/solr/ontology/select";
            echo "::set-output name=BUILD_TYPE::staging";
          else 
            echo "::debug::Set to default setup";
            echo "::set-output name=VFB_PDB_SERVER::http://pdb:7474";
            echo "::set-output name=VFB_OWL_SERVER::http://owl:8080/kbs/vfb/";
            echo "::set-output name=VFB_R_SERVER::http://ocpu:80/ocpu/library/vfbr/R/vfb_nblast";
            echo "::set-output name=VFB_TREE_PDB_SERVER::https://pdb.virtualflybrain.org";
            echo "::set-output name=SOLR_SERVER::https://solr.virtualflybrain.org/solr/ontology/select";
            echo "::set-output name=BUILD_TYPE::release";
          fi
      - name: Setup remote servers
        id: remote-servers
        shell: bash
        run: if [ "${GITHUB_REF##*/}" == master ] ; then
            echo "::debug::Set to master setup";
            echo "::set-output name=VFB_PDB_SERVER::http://pdb.virtualflybrain.org";
            echo "::set-output name=VFB_TREE_PDB_SERVER::https://pdb.virtualflybrain.org";
            echo "::set-output name=VFB_OWL_SERVER::http://owl.virtualflybrain.org/kbs/vfb/";
            echo "::set-output name=VFB_R_SERVER::http://r.virtualflybrain.org/ocpu/library/vfbr/R/vfb_nblast";
            echo "::set-output name=SOLR_SERVER::https://solr.virtualflybrain.org/solr/ontology/select";
            echo "::set-output name=BUILD_TYPE::release";
          elif [ "${GITHUB_REF##*/}" == debug ] || [ "${GITHUB_REF##*/}" == pipeline2 ] || [ "${GITHUB_REF##*/}" == vfb_geppetto_application ] || [ "${GITHUB_REF##*/}" == development ] ; then
            echo "::debug::Set to dev setup";
            echo "::set-output name=VFB_PDB_SERVER::http://pdb-dev.virtualflybrain.org";
            echo "::set-output name=VFB_OWL_SERVER::http://owl-dev.virtualflybrain.org/kbs/vfb/";
            echo "::set-output name=VFB_R_SERVER::http://r.virtualflybrain.org/ocpu/library/vfbr/R/vfb_nblast";
            echo "::set-output name=VFB_TREE_PDB_SERVER::https://pdb-dev.virtualflybrain.org";
            echo "::set-output name=SOLR_SERVER::https://solr-dev.virtualflybrain.org/solr/ontology/select";
            echo "::set-output name=BUILD_TYPE::development";
          elif [ "${GITHUB_REF##*/}" == alpha ] ; then
            echo "::debug::Set to alpha setup";
            echo "::set-output name=VFB_PDB_SERVER::http://pdb-alpha.virtualflybrain.org";
            echo "::set-output name=VFB_OWL_SERVER::http://owl-alpha.virtualflybrain.org/kbs/vfb/";
            echo "::set-output name=VFB_R_SERVER::http://r.virtualflybrain.org/ocpu/library/vfbr/R/vfb_nblast";
            echo "::set-output name=VFB_TREE_PDB_SERVER::https://pdb-alpha.virtualflybrain.org";
            echo "::set-output name=SOLR_SERVER::https://solr-alpha.virtualflybrain.org/solr/ontology/select";
            echo "::set-output name=BUILD_TYPE::staging";
          else 
            echo "::debug::Set to default setup";
            echo "::set-output name=VFB_PDB_SERVER::http://pdb.virtualflybrain.org";
            echo "::set-output name=VFB_OWL_SERVER::http://owl.virtualflybrain.org/kbs/vfb/";
            echo "::set-output name=VFB_R_SERVER::http://r.virtualflybrain.org/ocpu/library/vfbr/R/vfb_nblast";
            echo "::set-output name=VFB_TREE_PDB_SERVER::https://pdb.virtualflybrain.org";
            echo "::set-output name=SOLR_SERVER::https://solr.virtualflybrain.org/solr/ontology/select";
            echo "::set-output name=BUILD_TYPE::release";
          fi
        
      # Output the chosen servers
      - name: Used remote servers
        run: |
          echo PDB:${{ steps.remote-servers.outputs.VFB_PDB_SERVER }}
          echo OWL:${{ steps.remote-servers.outputs.VFB_OWL_SERVER }}
          echo SOLR:${{ steps.remote-servers.outputs.SOLR_SERVER }}
          echo TREE_PDB:${{ steps.remote-servers.outputs.VFB_TREE_PDB_SERVER }}
          echo R:${{ steps.remote-servers.outputs.VFB_R_SERVER }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push local wss
        id: docker_build_local
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: "virtualflybrain/geppetto-vfb:${{ steps.branch.outputs.value }}-local.wss"
          build-args: |
            VFB_TREE_PDB_SERVER_ARG=${{ steps.local-servers.outputs.VFB_TREE_PDB_SERVER }}
            SOLR_SERVER_ARG=${{ steps.local-servers.outputs.SOLR_SERVER }}
            VFB_R_SERVER_ARG=${{ steps.local-servers.outputs.VFB_R_SERVER }}
            VFB_OWL_SERVER_ARG=${{ steps.local-servers.outputs.VFB_OWL_SERVER }}
            VFB_PDB_SERVER_ARG=${{ steps.local-servers.outputs.VFB_PDB_SERVER }}
            build_type=${{ steps.local-servers.outputs.BUILD_TYPE }} 
            targetBranch=${GITHUB_REF##*/} 
            originBranch=${GITHUB_REF##*/} 
            defaultBranch=development
            finalBuild=true
      
      - name: Build and push remote
        id: docker_build_remote
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: "virtualflybrain/geppetto-vfb:${{ steps.branch.outputs.value }}-remote"
          build-args: |
            VFB_TREE_PDB_SERVER_ARG=${{ steps.local-servers.outputs.VFB_TREE_PDB_SERVER }}
            SOLR_SERVER_ARG=${{ steps.local-servers.outputs.SOLR_SERVER }}
            VFB_R_SERVER_ARG=${{ steps.local-servers.outputs.VFB_R_SERVER }}
            VFB_OWL_SERVER_ARG=${{ steps.local-servers.outputs.VFB_OWL_SERVER }}
            VFB_PDB_SERVER_ARG=${{ steps.local-servers.outputs.VFB_PDB_SERVER }}
            build_type=${{ steps.local-servers.outputs.BUILD_TYPE }} 
            targetBranch=${GITHUB_REF##*/} 
            originBranch=${GITHUB_REF##*/} 
            defaultBranch=development
            finalBuild=false
      
      - name: Image digest
        run: |
          echo "local:${{ steps.docker_build_local.outputs.digest }}"
          echo "remote:${{ steps.docker_build_remote.outputs.digest }}"
          
      - name: Install Puppeteer
        run: npm install jest@24.8.0 jest-image-snapshot@4.1.0 puppeteer@1.17.0 jest-puppeteer@4.3.0 @babel/preset-env@7.4.5 url-join@4.0.0 @babel/core@7.4.5
      - name: Run VFB server
        uses: "virtualflybrain/geppetto-vfb:${{ steps.branch.outputs.value }}-remote"
